---
BasedOnStyle: LLVM
ColumnLimit: 130
---
Language: Cpp
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
CompactNamespaces: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 2
DerivePointerAlignment: false
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SortIncludes: false
...
