name: Build check

on:
  pull_request:
  push:
    branches: main

jobs:
  build_ubuntu:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: |
          make
  build_macos:
    name: macOS
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: |
          make
